body {
    margin: 0;
}

h5 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

hr {
    margin-top: 50px;
    margin-bottom: 0;
}

/* navbar */
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.mobile-nav {
    color: gray;
}

.mobile-nav > .nav-item:hover {
    color: black;
}

.offcanvas-start {
    width: 250px !important;
}

/* main content - items */
.item-box {
    border: 2px solid #f0f0f0;
}
.dropdown-item {
    font-size: 13px;
}

.quantity-btn {
    border: 1px solid black;
    border-radius: 3px;
}

.product-name {
    font-size: 20px;
}

.product-category {
    font-size: 15px;
}

.price {
    font-size: 18px;
}

/* main-content - order summary */
.summary-box {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.summary-title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.total-price {
    font-size: 17px;
}

.promo-code {
    font-size: 18px;
}

.final-total {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}

/* recommended items */
.title-btn {
   height: 30px;
}

.category {
    font-size: 12px;
}

.more-btn {
    padding: 13px;
}

/* footer */
.footer-title {
    font-family: "Montserrat", sans-serif;
}

.list-group-item {
    border: none !important;
    padding-top: 5px;
    padding-bottom: 0;
}

.list-group-item:hover {
    background-color: transparent !important;
}

/* Desktop view */
@media (min-width:991px) {
    /* main-content */
    .item-box {
        max-width: 700px;
        margin-right: 30px;
    }

    .checkout-btn {
        margin-top: 50px;
    }

    /* recommended item */
    .item-img {
        height: 350px;
    }

     /* footer */
    .big-footer {
        height: 250px;
        align-content: center;
        margin-top: 0 !important;
    }

    .brand-col {
        padding-right: 20px;
    }

    .category-col {
        padding-left: 35px;
    }
}

/* mobile view */
@media (max-width:767px) {
    /* navbar */
    .navbar {
        padding: 0;
    }

    /* main content: item */
    .card {
        height: 185px;
    }

    .product-name {
        font-size: 16px;
    }

    .product-category {
        margin-bottom: 10px !important;
    }

    .card-content {
        padding-top: 0 !important;
    }

    .price {
        font-size: 17px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 5px;
    }

    .price-quantity {
        gap: 20px;
    }
}

/* smaller mobile view (ip 14pm) */
@media (max-width: 480px) {
    h5 {
        font-size: 25px;
    }

    /* main content: item */
    .card {
        height: 185px;
    }

    .product-name {
        font-size: 16px;
    }

    .product-category {
        margin-bottom: 10px !important;
    }

    .card-content {
        padding-top: 0 !important;
    }

    .price {
        font-size: 17px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 5px;
    }

    .price-quantity {
        gap: 20px;
    }

    /* footer */
    .brand-col {
        padding-left: 25px;
        padding-right: 25px;
    }

    .connect-col {
        margin-top: 20px;
    }
}