h5 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* navbar */
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.mobile-nav {
    color: gray;
}

.mobile-nav > .nav-item:hover {
    color: black;
}

/* hero */
.carousel-item img {
    max-height: 650px;
    min-height: 200px;
    object-fit: cover;
}

/* shop by category */
.grid1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.grid2 img, .grid3 img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.grid1, .grid2, .grid3 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid1:hover, .grid2:hover, .grid3:hover {
    transform: translateY(-5px) scale(1.0);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

@media (min-width:991px) {
    h5 {
        font-size: 28px;
        margin-top: 20px;
    }

    .category {
        width: 1000px;
    }

    .grid1 img {
        width: 100%;
        height: 400px;
    }

    .grid2 img, .grid3 img {
        width: 100%;
        height: 250px;
    }
}