body {
    margin: 0;
}

h5 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
}

hr {
    width: 100%;
}

/* navbar */
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.mobile-nav {
    color: gray;
}

.mobile-nav > .nav-item:hover {
    color: black;
}

.offcanvas-start {
    width: 250px !important;
}

/* hero */
.carousel-item img {
    max-height: 650px;
    min-height: 200px;
    object-fit: cover;
}

/* shop by category */
.grid1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.grid2 img, .grid3 img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.grid1, .grid2, .grid3 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid1:hover, .grid2:hover, .grid3:hover {
    transform: translateY(-5px) scale(1.0);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

/* new arrival */
.new-arrival {
    max-width: 990px;
}

.carousel .card {
    width: 200px;
}

/* new arrival - discount */
.ori-price {
    font-size: 12px;
}

.discount-price {
    font-size: 10px;
}

/* new arrival card */
.heart-icon {
    bottom: 105px;
    right: 10px;
}

.card-body .heart-icon img {
    min-width: 20px !important;
    min-height: 20px !important;
}

.card-description {
    font-size: 14px;
}

.category-card {
    font-size: 12px;
}

.price-carousel {
    font-size: 16px;
}

.heart-btn {
    cursor: pointer;
}

/* trending now */
.title-n-btn {
    height: 30px;
}

.trending-name {
    font-size: 18px;
}

.trending-category {
    font-size: 13px;
}

.trending-price {
    font-size: 20px;
}

.trending-card:hover {
    background-color: #f0f0f0;
}

.trending-caption {
    font-size: 15px;
}

/* small info */
.extra {
    background-color: #f0f0f0;
}

.content-extra {
    text-align: center;
}

.extra-title {
    margin: 0;
    margin-top: 5px;
}

.extra-caption {
    margin: 0;
    font-size: 12px;
}

/* newsletter */
.newsletter {
    background-color: black;
    overflow: hidden;
}

.newsletter-input::placeholder {
    color: gray;
}

.newsletter-input {
    width: 300px;
}

.content-2 p {
    font-size: 12px;
}

.content-2 button {
    font-family: "Montserrat", sans-serif;
    width: 150px;
}

.newsletter-input:focus {
    color: white;
}

/* footer */
.footer-title {
    font-family: "Montserrat", sans-serif;
}

.list-group-item {
    border: none !important;
    padding-top: 5px;
    padding-bottom: 0;
}

.list-group-item:hover {
    background-color: transparent !important;
}

/* Desktop view */
@media (min-width:991px) {
    h5 {
        font-size: 28px;
        margin-top: 20px;
    }

    .category {
        width: 1000px;
    }

    .grid1 img {
        width: 100%;
        height: 400px;
    }

    .grid2 img, .grid3 img {
        width: 100%;
        height: 250px;
    }

    .card-gap {
        gap: 30px !important;
    }
    
    /* new arrival */
    .new-arrival {
        margin: 0 auto;
    }

    .carousel .card {
        width: 300px !important;
    }

    /* newsletter */
    .newsletter-form {
        width: 450px;
    }

    .newsletter {
        height: 400px !important;
    }

    .content-2 {
        padding-left: 130px !important;
    }

    .content-1 {
        padding-left: 130px !important;
    }

     /* trending now */
    .trending-img {
        height: 350px;
    }

    /* footer */
    .big-footer {
        height: 250px;
        align-content: center;
        margin-top: 0 !important;
    }

    .brand-col {
        padding-right: 20px;
    }

    .category-col {
        padding-left: 35px;
    }
}

/* mobile view */
@media (max-width:767px) {
    .navbar {
        padding: 0;
    }

    .heart-icon {
        bottom: 33%;
        right: 12px;
    }

    .card-img {
        height: 250px;
    }

    .card-body .heart-icon img {
        min-width: 15px !important;
        min-height: 15px !important;
    }

    .new-arrival {
        margin: 15px;
    }
}

/* smaller mobile view (ip 14pm) */
@media (max-width: 480px) {
    /* new arrival */
    .heart-icon {
        bottom: 38%;
        right: 15px;
    }

    .card-img {
        height: 100px;
    }

    .category-card {
        font-size: 10px;
    }

    .card-description {
        font-size: 12px;
    }

    .new-arrival {
        margin: 15px;
    }

    .content-extra img {
        width: 25px;
    }

    .extra-title {
        font-size: 14px;
    }

    .content-1, .content-2 {
        width: 100% !important;
    }

    /* footer */
    .brand-col {
        padding-left: 25px;
        padding-right: 25px;
    }

    .connect-col {
        margin-top: 20px;
    }
}

/* medium size */
@media (min-width: 768px) and (max-width: 991px) {
    .heart-icon {
        bottom: 28%;
        right: 10px;
    }
}