    <!-- FOOTER -->
    <div class="container footer-container my-4">
        <footer>
            <!-- big footer -->
            <div class="row big-footer">
                <div class="col-12 col-md-3 brand-col mb-3">
                    <h4>LUWI</h4>
                    <p>Redefining the boutique experience for the digital age. Acurated sanctuary of high-fashion and timeless aesthetics.</p>
                </div>
                <div class="col-6 col-md-3 category-col">
                    <p class="footer-title ms-3 d-inline border-bottom">CATEGORIES</p>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action mt-2">Clothings</a>
                        <a href="#" class="list-group-item list-group-item-action">Bags</a>
                        <a href="#" class="list-group-item list-group-item-action">Accessories</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 support-col">
                    <p class="footer-title ms-3 d-inline border-bottom">SUPPORT</p>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action mt-2">Customer Service</a>
                        <a href="#" class="list-group-item list-group-item-action">Privacy Policy</a>
                        <a href="#" class="list-group-item list-group-item-action">Contact</a>
                    </div>
                </div>
                <div class="col-12 col-md-3 connect-col ps-4 pt-3">
                    <p class="footer-title d-inline border-bottom">CONNECT</p>
                    <div class="my-2">
                        <a href="https://www.instagram.com" class="pe-2"><img src="./img/instagram.svg" alt="instagram" width=23px"></a>
                        <a href="https://www.tiktok.com" class="pe-2"><img src="./img/tiktok.svg" alt="tiktok" width="23px"></a>
                        <a href="https://www.whatsapp.com" class=""><img src="./img/whatsapp.svg" alt="whatsapp" width="23px"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- last footer -->
    <footer>
        <div class="text-center">
            <hr>
            <p style="font-size: 13px;">© 2026 LUWI. All Rights Reserved.</p>
        </div>
    </footer>
    <!-- END OF FOOTER -->