    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom">
        <div class="container-fluid mx-lg-4 d-flex justify-content-between align-items-center">
            
            <!-- navbar btn for mobile view -->
            <button class="navbar-toggler order-1 order-lg-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNav" aria-controls="mobileNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- logo -->
            <a class="navbar-brand mx-auto mx-lg-0 order-2 order-lg-1 logo" href="index.html">LUWI</a>

            <!-- Center Desktop Navbar -->
            <div class="d-none d-lg-flex order-lg-2">
                <ul class="navbar-nav mx-auto gap-4">
                    <li class="nav-item">
                        <a class="nav-link" href="clothings.html">Clothings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accessories</a>
                    </li>
                </ul>
            </div>

            <!-- Right Desktop Navbar -->
            <div class="d-flex d-lg-flex order-3 order-lg-3 gap-3">
                <form class="d-none d-lg-flex">
                    <img src="./img/search.svg" alt="search" width="18px">
                    <input type="search" class="form-control border-0 border-bottom rounded-0" placeholder="Search...">
                </form>

                <a href="wishlist.html" class="my-auto"><img src="./img/heart.svg" alt="heart-icon" width="18px"></a>
                
                <a href="cart.html" class="my-auto position-relative">
                    <img src="./img/bag.svg" alt="bag-icon" height="19px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">2</span>
                </a>
                
                <div class="dropdown my-auto">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="./img/person.svg" alt="profile-icon" width="23px">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="#" class="dropdown-item">Login</a></li>
                        <li><a href="#" class="dropdown-item">Sign Up</a></li>
                    </ul>
                </div>
            </div>
            <!-- End of Desktop Navbar -->
        </div>
    </nav>

    <!-- responsive nav -->
    <div class="container">
        <div class="offcanvas offcanvas-start" id="mobileNav" aria-labelledby="mobileNavLabel">
            <div class="offcanvas-header">
                <a href="index.html" class="navbar-brand logo">LUWI</a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form>
                    <input type="search" class="form-control mb-3 border-0 border-bottom rounded-0" placeholder="Search...">
                </form>
                <ul class="mobile-nav navbar-nav ms-2">
                    <li class="nav-item">
                        <a href="clothings.html" class="nav-link active">Clothings</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Bags</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END OF NAVBAR -->